{{outlet}}
<h1>{{model.name}} <small>/ {{model.bookPart}}</small></h1>
{{model.books.title}}
{{#each attribute in model.elementAttributes}}
<p><strong>{{attribute.label}}: </strong>

{{#if attribute.text}}
  {{attribute.text}}
{{else}}
  <a href="/{{attribute.image}}" target="_blank"><img src="/{{attribute.thumb}}" /></a>
{{/if}}
</p>
<hr />

{{/each}}
