{{outlet}}
<h1>{{model.name}}</h1>
{{model.books.title}}
{{#each attribute in model.elementAttributes}}
<p><strong>{{attribute.label}}: </strong>

{{#if attribute.text}}
  {{attribute.text}}
{{else}}
  <a href="http://dev.openguide.com/{{attribute.image}}" target="_blank"><img src="http://dev.openguide.com/{{attribute.thumb}}" /></a><img src="http://dev.openguide.com/{{attribute.image}}" />
{{/if}}
</p>
<hr />

{{/each}}
