{{outlet}}


<div class="container main">
<div class="row">
  <div class="col-lg-6 title">
  <h1>Elements</h1>
  </div>
</div>
<div class="row">
{{#each sortedList as |element|}}
  <div class="col-lg-4">
    <div class="box">
  <h2>{{#link-to 'element' element}}{{element.name}}{{/link-to}}</h2>
  </div>
  </div>
  {{else}}
  <div class="col-lg-12">
    <p>Sorry, nothing here...</p>
  </div>
{{/each}}
</div>



<div class="row">

  <div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Part of Book</th>
      <th>Theme</th>
      <th>Book</th>
    </tr>
  </thead>
  <tbody>
{{#each sortedList as |element|}}
    <tr>
      <td>
{{#link-to 'element' element}}{{element.name}}{{/link-to}}</td>
      <td>{{element.bookPart}}</td>
<td>{{#link-to 'theme' theme}}{{element.theme.title}}{{/link-to}}
        </td>
      <td>
        {{#link-to 'book' book}}{{element.book.title}}{{/link-to}}
      </td>
      </tr>
{{/each}}
  </tbody>
  </table>
</div>
  </div>
  </div>
